
<script src="~/Scripts/angular-route.js"></script>
<script src="~/Scripts/Angular/myapp.js"></script>
<script src="~/Scripts/Angular/AngularRoute.js"></script>
<script src="~/Menu/Service/MenuService.js"></script>
<script src="~/Menu/Service/MemberService.js"></script>
<script src="~/Menu/Service/CategorysService.js"></script>
<script src="~/Menu/Service/CatTypeService.js"></script>
<script src="~/Menu/Service/CustormerService.js"></script>
<script src="~/Menu/Service/CompanyService.js"></script>
<script src="~/Menu/Service/CatManufacturerService.js"></script>
<script src="~/Menu/Service/RoleManagerService.js"></script>
<script src="~/Menu/Service/CatMaterialService.js"></script>
<script src="~/Menu/Service/SupplierService.js"></script>
<script src="~/Menu/Service/OrderImportService.js"></script>
<script src="~/Menu/Service/OrderSaleService.js"></script>
<script src="~/Menu/Service/ManagerTransactionService.js"></script>
<script src="~/Menu/Service/ReportService.js"></script>
<script src="~/Menu/Js/Factory.js"></script>
<script src="~/Menu/Js/Customer.js"></script>
<script src="~/Menu/Js/Supplier.js"></script>
<script src="~/Menu/Js/Company.js"></script>
<script src="~/Menu/Js/setPermissions.js"></script>
<script src="~/Menu/Js/addMember.js"></script>
<script src="~/Menu/Js/Categorys.js"></script>
<script src="~/Menu/Js/RoleManager.js"></script>
<script src="~/Menu/Js/ListMember.js"></script>
<script src="~/Menu/Js/OrderImport.js"></script>
<script src="~/Menu/Js/OrderSale.js"></script>
<script src="~/Menu/Js/ManagerTransaction.js"></script>
<script src="~/Menu/Js/WareHouseManager.js"></script>
<script src="~/Menu/Js/WareHouse.js"></script>
<script src="~/Menu/Js/ReportByDay.js"></script>
<script src="~/Menu/Js/ReportExpense.js"></script>
<script src="~/Menu/Js/ReportProductivity.js"></script>
<script src="~/Menu/Js/HistoryTransaction.js"></script>
<script src="~/Menu/Js/ReportCategory.js"></script>
<script src="~/Menu/Js/HistoryLogin.js"></script>
<script src="~/Menu/Js/InfoUser.js"></script>
<script src="~/Scripts/Angular/NhanVien.js"></script>
<script src="~/Scripts/Angular/Menu.js"></script>


<div>
    <div ng-view></div>
</div>

