@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ManagerWareHouse</title>
</head>
<body>
    <div class="box box-danger">
        <div class="box-header with-border">
            <i class="ion ion-clipboard"></i>
            <h3 class="box-title">Quản lý kho hàng</h3>
        </div>
        <div class="box-body" ng-controller="WareHouseController">


            <div class="row">
                <div class="col-md-3 col-xs-6 col-lg-3">
                    <div class="form-group">
                        <label>Tên sản phẩm</label>
                        <input type="text" placeholder="Nhập tên sản phâm" ng-model="nameCat" class="form-control input-sm">
                    </div>
                </div>
                <div class="col-md-3 col-xs-6 col-lg-3">
                    <div class="form-group">
                        <label>Chọn chi nhánh</label>
                        <select class="form-control input-sm " tabindex="-1" aria-hidden="true" ng-model="Company" ng-options=" x as x.Name for x in lstCompany">
                            <option value="">-- Chọn chi nhánh --</option>
                        </select>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="button" class="btn btn-primary btn-sm" style="width: 80px" value="Tìm kiếm" ng-click="search()">
                        <a href="#!OrderImport" class="btn btn-primary btn-sm">Tạo đơn hàng</a>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered table-hover">
                        <thead class="scroll-table">
                            <tr class="success">
                                <th style="width:7%;">STT</th>
                                <th style="width:20%;">Tên sản phẩm</th>
                                <th style="width:13%;">Mã code</th>
                                <th style="width:12%;">Có thể bán</th>
                                <th style="width:12%;">Tồn kho</th>
                                <th style="width:12%;">Hàng đang về</th>
                                <th style="width:12%;">Hàng đang giao</th>
                                @*<th style="width:12%;">Công cụ</th>*@
                            </tr>
                        </thead>
                       
                        <tr dir-paginate="x in lsCategory | itemsPerPage: 10">
                            <td>{{$index+1}}</td>
                            <td>{{x.CatName}}</td>
                            <td>{{x.CatCode}}</td>
                            <td style="text-align:center">{{x.SumNumber-x.NumberTransfer}}</td>
                            <td style="text-align:center">{{x.SumNumber}}</td>
                            <td style="text-align:center">{{x.NumberTo}}</td>
                            <td style="text-align:center">{{x.NumberTransfer}}</td>
                            @*<td>

                                <button type="button" class="btn btn-info btn-flat" data-backdrop="false" data-toggle="modal" data-target="#modalType" ng-click="moveCategory(x)">Chuyển hàng</button>

                            </td>*@
                        </tr>

                    </table>
                    <dir-pagination-controls boundary-links="true"
                                             direction-links="true">
                    </dir-pagination-controls>
                    <div id="modalType" class="modal fade">
                        <div class="modal-dialog" style="margin-top:6%;">
                            <div class="modal-content">
                                <div class="modal-header bg-primary">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">Chuyển hàng hóa</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">
                                                    Mã hàng
                                                </label>
                                                <input type="text" placeholder="Nhập tên loại hàng" class="form-control" name="typename" ng-model="CatIdMove" readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">
                                                    Tên hàng
                                                </label>
                                                <input type="text" placeholder="Nhập tên loại hàng" class="form-control" name="typename" ng-model="nameCatMove" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Từ chi nhánh</label>
                                                <input type="text" class="form-control" name="typename" ng-model="Company.Name" readonly>
                                            </div></div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Đến chi nhánh</label>
                                                <select class="form-control input-sm " tabindex="-1" aria-hidden="true" ng-model="CompanyMove" ng-change="changeCompany()" ng-options=" x as x.Name for x in lstCompanyMove">
                                                    <option value="">-- Chọn chi nhánh --</option>
                                                </select>
                                            </div>
                                            </div>
                                           
                                        </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">
                                                    Số lượng
                                                </label>
                                                <input type="number" placeholder="Chọn số lượng" min="0" class="form-control" name="typename" ng-model="numberCatMove" ng-change="changeNumberMove()">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">
                                                    Từ khóa
                                                </label>
                                                <input type="text" placeholder="Tag" class="form-control" name="typename" ng-model="tagCatMove" >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>
                                                    Vận chuyển từ
                                                </label>
                                                <input type="text" class="form-control" name="typename" ng-model="addressTo" readonly>
                                            </div>
                                        </div>

                                        <textarea class="form-control" rows="2" placeholder="Ghi chú" ng-model="Decription"></textarea>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <button id="loadpage" type="button" class="btn btn-primary" ng-click="saveCatMove()">Chuyển hàng </button>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="bs-example">
                        <div class="btn-toolbar text-center">
                            <div class="btn-group btn-group-sm" id="pageAsign">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
           

        </div>
    </div>


</body>
</html>
